.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  backdrop-filter: blur(20px);
  background: rgba(238, 236, 236, 0.795);
  display: flex;
  justify-content: center;
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
  display: flex;
  gap: 34px;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 14px;
}
